%form{ :action => "/s", :method => "post", "accept-charset" => "utf-8"}
  %input{ :type => "text", :value => "what are ya workin on?", :name => "desc" }
  %input{ :type => "submit", :value => "start task" }
