= haml(:header, :layout => false)

%form{ :action => "/s", :method => "post", "accept-charset" => "utf-8"}
  %input{ :id => "text", :type => "text", :value => "what are ya workin on?", :name => "desc" }
  %input{ :id => "button", :type => "submit", :value => "start task" }
